{{#if isCreating}}
  
  <form {{action "submit" on="submit"}}>

    <label for="name">Name</label>
    {{input type="text" value=episode.name class="form-control"}}

    <label for="airDate">Air Date</label>
    {{input type="datetime" value=episode.airDate class="form-control"}}

    <label for="description">Description</label>
    {{input type="text-area" value=episode.description class="form-control"}}

    <label for="writers">Writers</label>
    <div id="checkbox-list">
        {{multiselect-checkboxes 
          options=allWriters
          selection=selectedWriters
          labelProperty="name"}}
    </div>
    <br>
    <button type="submit" class="btn btn-default">Save</button>
    <button type="cancel" class="btn btn-default" {{action "cancelNew"}}>Cancel</button>

  </form>

{{else}}
  <button class="btn btn-default" {{action "triggerCreate"}}>New</button>
{{/if}}