<h4>{{model.name}}</h4>
<h5>{{model.airDate}}</h5>

<p>{{model.description}}</p>
<p id="season">season: {{#link-to 'seasons.season' model.season.id}}{{model.season.name}}{{/link-to}}</p>



writers:
<ul>
  {{#each model.writers as |writer|}}
    <li class="writers">{{#link-to 'writers.writer' writer}}{{writer.name}}{{/link-to}}</li>
  {{/each}}
</ul>

