<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    {{#link-to 'index' class="navbar-brand"}}Who-ipedia{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-left">
        {{nav-bar}}
        <li class="my-nav-li" id="seasons">{{link-to 'Seasons' 'seasons'}}</li>
        <li class="my-nav-li" id="episodes">{{link-to 'Episodes' 'episodes'}}</li>
        <li class="my-nav-li" id="writers">{{link-to 'Writers' 'writers'}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li class="my-nav-li"><a href="#">Hi, {{sessionAccount.account.name}}</a></li>
          <li class="my-nav-li"><a href="#" {{action 'logout'}}>Logout</a></li>
        {{else}}
          <li class="my-nav-li" id="login">{{#link-to 'login'}}Login{{/link-to}}</li>
          <li class="my-nav-li" id="signup">{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>


{{outlet}}
